# Core Dependencies
requests
python-dotenv
shortuuid
pydantic

# AI and NLP
spacy
langchain
langchain-groq

# Database
pymongo
dnspython

# Backend (FastAPI)
fastapi
uvicorn[standard]
python-multipart

# JD Processing (PDF & Image Handling)
PyPDF2
pytesseract
Pillow
opencv-python
pdf2image
